node_modules/
.expo/
dist/
web-build/
*.apk
*.aab
*.ipa
*.app
build/
.DS_Store
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp
*.swo
*~
*.tgz
*.tar.gz
expoauré-*.tar.gz
*.orig.*
.env
.env.*
firebase-debug.log*
capacitor.config.ts
android/app/src/main/assets/public
ios/App/App/public
